:root {
  --color: "#000";
  --background: #fff;
  --block: #00000009;
  --line-item: #0000000f;
  --stage-item: #00000011;
  --border: #00000033;
  --green: green;
  --red: red;
  --blue: #204fff;
  --grey: grey;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #fff;
    --background: #000;
    --block: #ffffff09;
    --line-item: #ffffff0f;
    --stage-item: #ffffff11;
    --border: #ffffff33;
    --green: green;
    --red: red;
    --blue: #2f86fb;
    --grey: grey;
  }
}

.green {
  color: var(--green);
}
.red {
  color: var(--red);
}
.blue {
  color: var(--blue);
}
.grey {
  color: var(--grey);
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
  background: var(--background);
  color: var(--color);
  min-width: 450px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  margin-bottom: 60px;
}

h1 img {
  height: 100px;
  margin-right: 32px;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
}

#app {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.block {
  background: var(--block);
  padding: 8px 8px 0;
  border-radius: 4px;
}

h2 {
  margin-bottom: 16px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.build {
  font-size: 14px;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  margin-bottom: 12px;
  background-color: var(--line-item);
  padding: 6px 8px;
}

.stage {
  display: block;
  background-color: var(--stage-item);
  padding: 4px 8px;
  margin: 2px;
  font-size: 16px;
}

.stage:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.stage:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.time {
  float: right;
  font-size: 14px;
}

.progress {
  margin-top: 8px;
}

.status {
  font-size: 60%;
  background-color: var(--stage-item);
  padding: 2px 4px;
  vertical-align: middle;
  border-radius: 2px;
  line-height: 1;
  opacity: 0.7;
}

button {
  background: var(--background);
  color: var(--color);
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.aborted {
  text-decoration: line-through;
}

.empty {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

