:root {
  --color: "#000";
  --background: #fff;
  --block: #00000009;
  --line-item: #0000000f;
  --stage-item: #00000011;
  --border: #00000033;
  --green: green;
  --red: red;
  --blue: #204fff;
  --grey: grey;
  --alt-grey: #333;
  --shadow: #0000001a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #fff;
    --background: #111;
    --block: #ffffff09;
    --line-item: #ffffff0f;
    --stage-item: #ffffff11;
    --border: #ffffff33;
    --green: green;
    --red: red;
    --blue: #2f86fb;
    --grey: grey;
    --alt-grey: #aaa;
    --shadow: #00000099;
  }
}

* {
  box-sizing: border-box;
  min-width: 0;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.grey {
  color: var(--grey);
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: var(--background);
  color: var(--color);
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  margin-bottom: 60px;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 2px;
}

.flow {
  display: flex;
  align-items: center;
  flex: 1;
}

.name {
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.blocks {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}

@media (min-width: 2000px) {
  .blocks {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}

@media (max-width: 480px) {
  .blocks {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.block {
  background: var(--block);
  padding: 8px 8px 0;
  border-radius: 4px;
}

h2 {
  margin-bottom: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.build {
  font-size: 14px;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  margin-bottom: 12px;
  background-color: var(--line-item);
  padding: 6px 8px;
  transition: box-shadow 200ms;
}

li:hover {
  box-shadow: 2px 4px 10px 2px var(--shadow);
  transition: box-shadow 200ms;
}

.stage {
  display: flex;
  align-items: center;
  background-color: var(--stage-item);
  padding: 4px 8px;
  margin: 2px;
  font-size: 16px;
}

.stage-name {
  flex: 1;
}

.stage:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.stage:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.time {
  float: right;
  font-size: 14px;
  margin-left: 8px;
  width: 54px;
  text-align: right;
}

.progress {
  margin-top: 8px;
  flex: 0 0 100%;
}

.status {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 60%;
  background-color: var(--background);
  padding: 2px 4px;
  vertical-align: middle;
  border-radius: 2px;
  line-height: 1;
  opacity: 0.7;
  margin-left: 4px;
}

.status.big {
  font-size: 80%;
  margin-left: 0;
  margin-right: 4px;
}

button {
  background: var(--background);
  color: var(--color);
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.aborted {
  position: relative;
}

.empty {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.empty img {
  height: 100px;
}

@media (prefers-color-scheme: dark) {
  .empty img {
    filter: invert(1) hue-rotate(180deg) brightness(2) contrast(1);
  }
}

.disclaimer {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.disclaimer img {
  height: 100px;
  margin-bottom: 24px;
}

.job-name {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  font-size: 14px;
}

.tabs-wrapper.with-logo {
  margin-bottom: 0;
}

.tabs {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 16px;
  margin: 0;
}

.tab {
  padding: 8px 16px;
  border: 1px solid var(--border);
  background: var(--background);
  border-radius: 20px;
  margin-right: 8px;
  margin-bottom: 0;
  min-width: 100px;
  cursor: pointer;
  text-align: center;
  opacity: 0.8;
}

.tab.active {
  background: var(--line-item);
  opacity: 1;
}

.tabs-wrapper img {
  height: 60px;
  margin-right: 32px;
  margin-left: 16px;
}

.version-trigger {
  font-size: 12px;
}

.versions {
  border: 1px dashed #000000;
}

.versions,
.history {
  font-size: 14px;
  background: var(--block);
  padding: 4px 8px;
  border-radius: 4px;
}

.versions .version {
  margin-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
  background: var(--block);
  padding: 4px;
  border-radius: 4px;
}

.versions .version label {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.version-name {
  flex: 1;
  margin-left: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history {
  flex: 1 0 100%;
  margin-top: 4px;
  padding-top: 8px;
  display: flex;
  flex-direction: column-reverse;
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--block);
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.env,
.latest-version {
  background: var(--block);
  padding: 0 4px;
  border-radius: 4px;
  display: block;
}

.latest-version {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 16px;
  cursor: context-menu;
}

.env,
.history-date {
  color: var(--alt-grey);
}

.history-date {
  font-size: 13px;
  white-space: nowrap;
  display: block;
  flex: 0 0 auto;
}